$size: 100vw;
@mixin ctrl-btn{
  position: fixed;
  top: 0;
  width: 20vw;
  height: 100vh;
  z-index: 1;
  // background-color: tomato;
}
div.next-btn{
  @include ctrl-btn;
  right: 0;
}
div.back-btn{
  @include ctrl-btn;
  left: 0;
}

div.stage{
  position: relative;
  -webkit-perspective: 5000vw;
  div.cube{
    width: $size;
    height: $size;
    position: relative;
    -webkit-transform-style:preserve-3d;
    -webkit-transition:all 0.5s;
    top: -10px;
    left: -9px;
    div{
      width: $size;
      height: 100vh;
      box-sizing: border-box;
      text-align: center;
      position: absolute;
    }
    div.front{
      top: 0;
      left: 0;
      -webkit-transform: translateZ($size/2);
    }
    div.back{
      top: 0;
      left: 0;
      -webkit-transform: translateZ(-$size/2) rotateY(180deg);
    }
    div.left{
      top: 0;
      left: $size/2;
      -webkit-transform:rotateY(90deg);
    }
    div.right{
      top: 0;
      right: $size/2;
      -webkit-transform:rotateY(-90deg);
    }
    div.top{
      top: $size/2;
      left: 0;
      -webkit-transform:rotateX(90deg);
    }
    div.bottom{
      bottom: $size/2;
      left: 0;
      -webkit-transform:rotateX(-90deg);
    }
  }
}